{% extends "layout.html" %}
{% block content %}
  <h2>Veterinarians</h2>

  <table id="vets" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Specialties</th>
      </tr>
    </thead>
    <tbody>
      {% for vet in listVets %}
      <tr>
        <td>{{ vet.first_name }} {{ vet.last_name }}</td>
        <td>
          {% if vet.nr_of_specialties == 0 %}
            none
          {% else %}
            {% for specialty in vet.specialties %}
              {{ specialty.name }}{{ " " }}
            {% endfor %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if totalPages > 1 %}
  <div>
    <span>Pages:</span>
    <span>[</span>
    {% for i in range(end=totalPages) %}
      {% set page_num = i + 1 %}
      {% if currentPage != page_num %}
        <span><a href="/vets.html?page={{ page_num }}">{{ page_num }}</a></span>
      {% else %}
        <span>{{ page_num }}</span>
      {% endif %}
    {% endfor %}
    <span>]&nbsp;</span>
    <span>
      {% if currentPage > 1 %}
        <a href="/vets.html?page=1" title="First" class="fa fa-fast-backward"></a>
      {% else %}
        <span title="First" class="fa fa-fast-backward"></span>
      {% endif %}
    </span>
    <span>
      {% if currentPage > 1 %}
        <a href="/vets.html?page={{ currentPage - 1 }}" title="Previous" class="fa fa-step-backward"></a>
      {% else %}
        <span title="Previous" class="fa fa-step-backward"></span>
      {% endif %}
    </span>
    <span>
      {% if currentPage < totalPages %}
        <a href="/vets.html?page={{ currentPage + 1 }}" title="Next" class="fa fa-step-forward"></a>
      {% else %}
        <span title="Next" class="fa fa-step-forward"></span>
      {% endif %}
    </span>
    <span>
      {% if currentPage < totalPages %}
        <a href="/vets.html?page={{ totalPages }}" title="Last" class="fa fa-fast-forward"></a>
      {% else %}
        <span title="Last" class="fa fa-fast-forward"></span>
      {% endif %}
    </span>
  </div>
  {% endif %}
{% endblock content %}
